<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441599081402-gsvb9fgng6hla5tf4q3pspq94tfh1211.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441599081402-gsvb9fgng6hla5tf4q3pspq94tfh1211</string>
	<key>API_KEY</key>
	<string>AIzaSyBl7mWqhC6M8pqZuGC7vd3Q7_Ivjew-ImM</string>
	<key>GCM_SENDER_ID</key>
	<string>441599081402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-edc1c</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-edc1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441599081402:ios:8ee090405d97c7ff10fb83</string>
</dict>
</plist>